<div class="form-wrapper">
  <div class="form-card" style="width: 45rem">
    <h2 class="form-title">Change Password</h2>
    <p class="form-subtitle">Enter your new password below</p>

    <form
      [formGroup]="changePasswordForm"
      (ngSubmit)="onChangePassword()"
      novalidate
    >
      <div class="input-box">
        <app-input
          formControlName="newPassword"
          label="New Password"
          type="password"
          placeholder="Enter new password"
          iconClass="fa-solid fa-lock"
        >
          @if (newPassword?.touched && newPassword?.invalid) {
          <div class="error-message">
            @if (newPassword?.errors?.['required']) {
            <span>Password is required</span>
            } @else if (newPassword?.errors?.['minlength']) {
            <span>Password must be at least 6 characters</span>
            }
          </div>
          }
        </app-input>
      </div>

      <div class="input-box">
        <app-input
          formControlName="confirmPassword"
          label="Confirm Password"
          type="password"
          placeholder="Re-enter new password"
          iconClass="fa-solid fa-lock"
        >
          @if (confirmPassword?.touched && confirmPassword?.invalid ||
          passwordMismatch) {
          <div class="error-message">
            @if (confirmPassword?.errors?.['required']) {
            <span>Confirm Password is required</span>
            } @else if (passwordMismatch) {
            <span>Passwords do not match</span>
            }
          </div>
          }
        </app-input>
      </div>

      <div class="btn">
        <app-button width="100%" type="submit">Change Password</app-button>
      </div>
    </form>
  </div>
</div>
