<app-auth-form-wrapper formTitle="Forgot Password"
    formSubTitle="Enter your registered email address and we'll send you an OTP to reset your password.">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSendOtp()" novalidate>
        <div class="input-box">
            <app-input formControlName="email" label="Email" type="email" placeholder="Enter your Email"
                iconClass="fa-solid fa-envelope">
                @if (email?.touched && email?.invalid) {
                <div class="error-message">
                    @if (email?.errors?.['required']) {
                    <span>Email is required</span>
                    }
                    @else if (email?.errors?.['email']) {
                    <span>Please enter a valid email address</span>
                    }
                </div>
                }
            </app-input>

            <a routerLink="/login">Back to Login</a>
        </div>

        <div class="btn">
            <app-button width="100%" type="submit">Send OTP</app-button>
        </div>
    </form>
</app-auth-form-wrapper>