.layout {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "sidebar footer";
    grid-template-columns: 26rem 1fr;
    grid-template-rows: 6rem 1fr 8rem;
    min-height: 100vh;
}

header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 100;
}

aside {
    grid-area: sidebar;
    position: sticky;
    top: 6rem;
    height: calc(100vh - 80px);
}

main {
    grid-area: main;
    background-color: var(--bg-primary-color);
    overflow-y: hidden;
}

footer {
    grid-area: footer;
}