<button [attr.type]="type" [disabled]="disabled" class="app-button" [ngStyle]="{ width: width, fontSize: fontSize }"
    (click)="onClick($event)">
    <ng-container *ngIf="icon">
        <span class="button-icon" [class]="icon" aria-hidden="true"></span>
    </ng-container>
    <span class="button-text">
        <ng-content></ng-content>
    </span>
</button>






<!-- 

<app-button icon="fa fa-user">Login</app-button>
<app-button type="submit" [disabled]="true">Submit</app-button>
<app-button icon="fa fa-user" width="20rem" fontSize="1.4rem">Login</app-button>


<app-button
  [type]="'submit'"
  [icon]="'fa fa-save'"
  [width]="'15rem'"
  [fontSize]="'1.4rem'"
  (buttonClick)="handleSave()"
>
  Save
</app-button>


-->